<!--Search Start -->
<div class="row">
  <div class="col-xs-12">
    <form ng-submit="search.getMovieRes(title)">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="title">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </div>
    </form>
  </div>
</div>
<!-- Search End -->

<!-- Repeat Panel Start -->
<div class="row">
  <div class="col-xs-12 col-sm-4" ng-repeat="movie in search.movieList.Search">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{movie.Title}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 text-center">
            <img ng-src="{{movie.Poster}}" class="setSize">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Repeat Panel End -->
<pre>{{ search.movieList | json}}</pre>